html {
  background: #C4DAE3;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  place-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

i {
  margin: 0 0.4em
}

main {
  background: #F7FBFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 22em;
  min-width: 22em;
  position: relative;
  overflow: hidden;
}

.banner {
  background-color: #13212A;
  height: 150px;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border: 6px white solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  top: -80px;
  margin-bottom: -70px;
}

/* .profile .name,
.profile .location {
  display: block;
} */

.profile .name {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.35em
    /* text-transform: uppercase; */
}

.profile .location {
  font-size: 0.9em;
}

.profile .headline {
  text-align: center;
  margin: 1em
}

.social-links {
  border-top: 0.7px solid hsl(227, 10%, 46%, 0.4);
  padding: em 0;
  /* position: absolute; */
  bottom: 0;
}